<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login - Company JavaApp</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<div class="container text-center">
    <h2>Login</h2>
</div>
<body>
<div class="container text-center">
<form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
    <p>
        E-mail: <input type="email" name="username" class="form-control" placeholder="E-mail" required />  
    </p>
    <p>
        Password: <input type="password" name="password" class="form-control" placeholder="Password" required />
    </p>
    <p>
        <input  type="submit" value="Login" />
    </p>
    <p>
    <a th:href="@{/forgot_password}">Forgot your password?</a>
    </p>
</form>
</div>
</body>
</html>